.video_timeline {
    width: 100%;
    background-color: gray;
    height: 3px;
    position: absolute;
    bottom: 0;
    z-index: 20;
    cursor: pointer;
}

.video_timeline::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--progress-position) * 100%);
    background-color: red;
}

.video_timeline::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: calc(100% - var(--preview-position) * 100%);
    background-color: blue;
}

.preview_container{
    position: absolute;
    bottom: 0.8rem;
    padding: 4px;
    transform: translate(50%);
    right: calc(100% - var(--preview-container-position) * 100%);
    display: none;
}

.video_timeline:hover .preview_container{
    display: block;
}

.preview_pointer{
    background-color: blue;
    border-radius: 50%;
    height: 4px;
    width: 4px;
    transform: scale(3);
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--preview-position) * 100%);
}

.video_timeline:hover .preview_pointer{
    display: block;
}

/*.video_timeline .video_progress_btn {
    --scale: 2;
    position: absolute;
    transform: translateX(-50%) scale(var(--scale));
    height: 200%;
    top: -50%;
    left: calc(var(--progress-position) * 100%);
    background-color: red;
    border-radius: 50%;
    transition: transform 150ms ease-in-out;
    aspect-ratio: 1 / 1;
}

.video_timeline .video_preview_img{
    position: absolute;
    height: 80px;
    aspect-ratio: 16 / 9;
    top: -1rem;
    transform: translate(-50%, -100%);
    left: calc(var(--preview-position) * 100%);
    border-radius: .25rem;
    border: 2px solid white;
    display: none;
} */